<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Us</title>
    <link rel="stylesheet" href="../static/about.css">
    <script src="https://kit.fontawesome.com/f65cc94aa1.js" crossorigin="anonymous"></script>
</head>
<body>
    include ../partials/navbar
    <div class='aboutus'>
        <h1>About Us </h1>
        | I am Ankit Kumar, a frontend web developer from Pantanagar, Uttarakhand, India. I am passionate about creating beautiful and functional websites that help businesses grow. I have a strong understanding of HTML, CSS, and JavaScript, and I am always up-to-date on the latest web development trends.
        <br>        
        <br>        
        | I started my career as a freelancer, and I quickly built a reputation for my high-quality work. I have since worked with a variety of businesses, from small startups to large corporations. I am known for my attention to detail and my ability to meet the needs of my clients.
        <br>
        <br>
        | I am also a skilled designer, and I use my skills to create websites that are both visually appealing and user-friendly. I believe that a website should be more than just a brochure; it should be a tool that helps businesses reach their goals.
        <br>
        <br>
        | I am committed to providing my clients with the best possible service. I am always available to answer questions and offer guidance. I am also always willing to go the extra mile to make sure that my clients are happy with their website.
        <br>
        <br>
        | I am writing this about us for me because I want to share my passion for web development with the world. I want to help businesses of all sizes grow by creating beautiful, functional, and user-friendly websites. I believe that a website should be more than just a brochure; it should be a tool that helps businesses reach their goals.
        <br>
        <br>
        | I am excited to see what the future holds for me as a web developer. I am committed to continuing to learn and grow, and I am always looking for new ways to improve my work. I am confident that I can help businesses of all sizes achieve their goals through the power of web development.
        <br>
        <br>
        | If you are interested in learning more about my services, please contact me today. I would be happy to discuss your needs and answer any questions you may have.
    </div>
    <script src="../index.js"></script>
    <script src="../static/menubar.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
</body>
</html>