<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <script src="https://kit.fontawesome.com/f65cc94aa1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">Ankit Kumar</div>
        <label for="click"><i class="fa-solid fa-bars fa-2xl"></i></label>
        <input type="checkbox" id="click">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/services">SERVICES</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>